<h1>index page for view</h1>
<p>Find me in app/views/user/index.html.erb</p>
<p>This will eventually be the admin control center</p>

<h3>List of Users made!</h3>
<% @users.each do |user| %>
<%= link_to "user#{user.id}: #{user.name}", user_path(user) %>
<br>
<% end %>

<% for api in @player do %>
	<a href="<%= api %>"><%= api %></a>
	<br>
	<br>
<% end %>
<br>
<p>==========================================</p>
<br>
<% for api in @div do %>
	<a href="<%= api %>"><%= api %></a>
	<br>
	<br>
<% end %>

<p>AVG Wards placed by player: <%= @avg %></p>
<p>AVG Wards placed by divison leaders: <%= @div_avg %></p>